
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #FFE;
}


.selections{
  border: 1px solid gray;
  width: 31%;
  margin-right: 27px;
  img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }
}
.form {
  input {
    width: 45%;
    display: inline-block;
  }
  .select {
    width: 25%;
    display: inline-block;

  }
  .cart {
    width: 27%;
    display: inline-block;

  }
}


.selections2{
  border: 1px solid gray;
  width: 31%;
  margin-right: 27px;
  img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }
}
.form2 {
  input {
    width: 45%;
    display: inline-block;

  }
  .select2 {
    width: 25%;
    display: inline-block;

  }
  .cart2{
    width: 27%;
    display: inline-block;

  }
}

.selections3{
  border: 1px solid gray;
  width: 31%;
  margin-right: 27px;
  img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }
}
.form3 {
  input {
    width: 45%;
    display: inline-block;
  }
  .select3 {
    width: 25%;
    display: inline-block;

  }
  .cart3{
    width: 27%;
    display: inline-block;

  }
}

.nav {
  height: 50px;
  background-color: lightgray;
  #cart {
    color: black;
    float: right;
    i {
      height: 100%;
    }
  }
}
.body {
  margin-top: 40px;
}
.checkout {
  float: right;
  width: 300px;
  margin-right: 420px;
}
